/*************************************** | Color Scheme | ****************************************/

:root 
{
    /* Background Colors */

    --ColorBackgroundDarkPrimary: #121212;
    --ColorBackgroundDarkSecondary: #1B1B1B;
    --ColorBackgroundLightPrimary: #fafafa;
    --ColorBackgroundLightSecondary: #c5c5c5;
    --ColorBackgroundGradientPrimary: linear-gradient(to bottom right, rgb(209, 95, 253), rgb(61, 123, 255));
    --ColorBackgroundGradientSecondary: linear-gradient(to bottom right, rgb(220, 132, 255), rgb(87, 140, 255));
	--ColorBackgroundGlassPrimary: rgba(255, 255, 255, 0.25);
	--ColorBackgroundGlassSecondary: rgba(255, 255, 255, 0.40);
    --ColorBackgroundTransparentPrimary: 0%;
    --ColorBackgroundTransparentSecondary: 30%;

    /* Text Colors */

    --ColorTextDarkPrimary: rgba(255, 255, 255, 0.85);
    --ColorTextDarkSecondary: rgba(255, 255, 255, 0.62);
    --ColorTextDarkDisabled: rgba(255, 255, 255, 0.38);
    --ColorTextDarkAccent: #b266fd;
    --ColorTextDarkSuccess: #79ffb5;
    --ColorTextDarkWarning: #f7fa56;
    --ColorTextDarkError: #fb7575;

    --ColorTextLightPrimary: #121212;
    --ColorTextLightSecondary: #202020;
    --ColorTextLightDisabled: #808080;
    --ColorTextLightAccent: #0077ff;
    --ColorTextLightSuccess: #03bd56;
    --ColorTextLightWarning: #ffda33;
    --ColorTextLightError: #ff0000;

    --ColorTextGradientPrimary: linear-gradient(to bottom right, rgb(216, 118, 255),rgb(61, 161, 255));
    --ColorTextGradientSecondary: linear-gradient(to bottom right, rgb(220, 132, 255), rgb(87, 140, 255));

    /* Button Colors */

    --ColorButtonDarkPrimary: #3b3b3b;
    --ColorButtonDarkSecondary: rgba(255, 255, 255, 0.85);
    --ColorButtonDarkAccent: #b871ff;
    --ColorButtonDarkSuccess: #79ffb5;
    --ColorButtonDarkWarning: #f7fa56;
    --ColorButtonDarkError: #fb7575;
    --ColorButtonDarkDisabled: 38%;
    
    --ColorButtonLightPrimary: #0077ff;
    --ColorButtonLightSecondary: #000000;
    --ColorButtonLightAccent: #b871ff;
    --ColorButtonLightSuccess: #03bd56;
    --ColorButtonLightWarning: #ffda33;
    --ColorButtonLightError: #ff0000;
    --ColorButtonLightDisabled: 65%;

    --ColorButtonGradient: linear-gradient(to bottom right, rgb(209, 95, 253), rgb(61, 123, 255));
    --ColorButtonGradientHover: linear-gradient(to bottom left, rgb(209, 95, 253), rgb(61, 123, 255));

    /* Icon Colors */

    --ColorIconDarkPrimary: rgba(255, 255, 255, 0.85);
    --ColorIconDarkSecondary: #c5c5c5;
    --ColorIconDarkAccent: #b871ff;
    --ColorIconDarkDisabled: 38%;

    --ColorIconLightPrimary: #000000;
    --ColorIconLightSecondary: #272727;
    --ColorIconLightAccent: #0077ff;
    --ColorIconLightDisabled: 65%;

    --ColorIconGradient: linear-gradient(to bottom right, rgb(209, 95, 253), rgb(61, 123, 255));
    --ColorIconGradientHover: linear-gradient(to bottom left, rgb(209, 95, 253), rgb(61, 123, 255));
}

/*************************************** | Fonts | ****************************************/

:root 
{
    --FontSizeTitleHuge: 50px;
    --FontWeightTitleHuge: 650;
    --FontSizeTitleBig: 36px;
    --FontWeightTitleBig: 600;
    --FontSizeTitleMedium: 28px;
    --FontWeightTitleMedium: 600;
    --FontSizeTitleSmall: 20px;
    --FontWeightTitleSmall: 550;
    --FontSizeTitleMiniscule: 15px;
    --FontWeightTitleMiniscule: 500;

    --FontSizeTextHuge: 27px;
    --FontWeightTextHuge: 550;
    --FontSizeTextBig: 22px;
    --FontWeightTextBig: 500;
    --FontSizeTextMedium: 17px;
    --FontWeightTextMedium: 500;
    --FontSizeTextSmall: 13px;
    --FontWeightTextSmall: 450;
    --FontSizeTextMiniscule: 11px;
    --FontWeightTextMiniscule: 400;

    --FontSizeIconBig: 75px;
    --FontWeightIconBig: 600;
    --FontSizeIconMedium: 50px;
    --FontWeightIconMedium: 550;
    --FontSizeIconSmall: 25px;
    --FontWeightIconSmall: 500;
}

/*************************************** | Animations | ****************************************/

/* Element size increase on Hover */

@media(min-width: 800px)
{
    .AnimationIncrease0, .AnimationIncrease1, .AnimationIncrease2, .AnimationIncrease3, .AnimationIncrease4
    {
        transition: transform 0.15s;
    }

    .AnimationIncrease0:hover, .AnimationIncrease1:hover, .AnimationIncrease2:hover, .AnimationIncrease3:hover, .AnimationIncrease4:hover
    {
        opacity: 82%;
    }

    .AnimationIncrease0:hover
    {
        transform: scale(1.05);
    }

    .AnimationIncrease1:hover
    {
        transform: scale(1.1);
    }

    .AnimationIncrease2:hover
    {
        transform: scale(1.15);
    }


    .AnimationIncrease3:hover
    {
        transform: scale(1.25);
    }

    .AnimationIncrease4:hover
    {
        transform: scale(1.35);
    }
}

/* Element fades in */

.AnimationFadeIn0, .AnimationFadeIn1, .AnimationFadeIn2, .AnimationFadeIn3
{
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.AnimationFadeIn0
{
    animation: AnimationFadeIn ease 1.5s;
}

.AnimationFadeIn1
{
    animation: AnimationFadeIn ease 2.5s;
}

.AnimationFadeIn2
{
    animation: AnimationFadeIn ease 3.5s;
}

.AnimationFadeIn3
{
    animation: AnimationFadeIn ease 4.5s;
}

@keyframes AnimationFadeIn 
{ 
    0% 
    { 
        opacity: 0; 
    } 
    
    100% 
    { 
        opacity: 1; 
    } 
} 

/* Underline from left to right on Hover */

@media(min-width: 800px)
{
  .AnimationUnderline
  {
    background-image: var(--ColorTextDarkPrimary);
    background-position: 0% 77.5%;
    background-position-y: 35px;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.5s;
  }
  
  .AnimationUnderline:hover 
  {
    background-size: 100% 2px;
    color: var(--TextPrimary);
  }
}







/* Provizoriu aici */

i 
{
    font-family: "FontAwesome";
}

body
{
	height: 100vh;
	background: var(--ColorBackgroundGradientPrimary);
	background-repeat: no-repeat;
}

.Debug
{
	border: 2px solid red;
}

/*************************************** | Navbar | ****************************************/

/* Navbar Toggler */

navbar
{
    position: fixed;
    z-index: 99;
    background-color: var(--ColorBackgroundGlassPrimary);
    backdrop-filter: blur(6px);
    border-radius: 30px;
    width: 80vw;
    height: 65px;
    left: 10vw;
    bottom: -100px;
}

.NavbarIcon
{
	margin-top: 15px;
	font-size: 25px;
	color: var(--ColorTextLightPrimary);
}

@media(min-width: 500px)
{
    navbar
    {
        width: 400px;
        height: 75px;
        left: calc(50vw - 200px);
    }

	.NavbarIcon
	{
		margin-top: 18px;
		font-size: 29px;
	}
}

#NavbarActiveRow
{
	margin-top: 5px;
}

#ActiveMenu
{
	background-color: var(--ColorBackgroundDarkPrimary);
	height: 5px;
	border-radius: 5px;
	width: 15%;
	transition: all 0s ease;
}

/*************************************** | Pages and Containers | ****************************************/

#PagesContainer
{
	width: 100%;
	height: 100%;
}

page
{
	color: var(--ColorTextDarkPrimary);
	background-repeat: no-repeat;
    background-size: 100% auto;
}




